<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/<%=css_file%>" rel="stylesheet">
    <script src='/js/<%=js_file%>' type="text/javascript" defer></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="navbar">
        <h1>Pollution Tracker</h1>
        <ul class="navbar-links">
            <li><a href="/map">Map</a></li>
            <li><a href="/table">Table View</a></li>
            <li><a href="/submit">Submit</a></li>
            <li>|</li>
            <% if (user) { %>
                <li></li>
                Welcome back, <%=user.username%>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign up</a></li>
                        <% } %>
        </ul>
    </div>