<%- include("partials/header", {title: "Login" , css_file: "" , js_file: "" }) %>
    <form action="/login" method="POST">
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <button>Login</button>
    </form>
    </body>

    </html>