<%- include('partials/header', {title: 'Profile' , css_file: 'profile.css' , js_file: 'profile.js', module: true}) %>

    <body>
        <div class="content">
            <div class="row">
                <h3>Here are your submissions:</h3>
                <a href="/accountManagement" class="accountLink">Manage your account</a>
            </div>
            <div id="tableDiv"></div>
        </div>
    </body>

    </html>