<%- include("partials/header", {title: "Login" , css_file: "login.css" , js_file: "" }) %>
    <div class="container">
        <form action="/register" method="POST">

            <div class="inputLine">
                <label for='username'>Username:</label>
                <input type="text" name="username" tabindex='1' required>
            </div>
            <div class="inputLine">
                <label for="password">Password:</label>
                <input type="password" name="password" tabindex='2' required>
            </div>
            <div class="inputLine"><button tabindex="3">Sign Up!</button></div>
        </form>
    </div>
    </body>

    </html>