<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="assets/js/search.js" type="text/javascript" defer></script>
    <style>
        .resultDiv {
            border: 1px solid black;
            padding: 8px;
        }

        .resultDiv:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <form class="searchForm">
        <input type="text" name="address" required placeholder="Address you want to search for">
        <button>Search</button>
    </form>
    <div class="results">

    </div>
</body>

</html>