<%- include("partials/header", {title: "Submit" , css_file: "submit.css" , js_file: "submit.js" }) %>
    <div class="formDiv">
        <h2>Signal a pollution site</h2>
        <form method="POST" action="/api/createSubmission" enctype="multipart/form-data">
            <!-- Trying to get: title, (description), lat, lon, picture -->
            <div class="rowDiv">
                <label class="hidden" for="picture">Title:</label>
                <input type="text" placeholder="Title" name="name" required>
                <label id="fileInputLabel">Upload an image</label>
                <p class="hidden" id="selectedFile"></p>
                <input type="file" name="picture" class="hidden" accept="image/png, image/jpeg" required
                    id="imageInput">
                    // TODO need to show an error message when a user tries to submit without providing an image
            </div>
            <div class="rowDiv">
                <label class="hidden" for="">Description (optional):</label>
                <textarea placeholder="Description (optional)" name="description"></textarea>
            </div>
            <h3>Where did it happen?</h3>
            <div class="rowDiv">
                <label for="" class="hidden">Latitude:</label>
                <input type="number" id="latitude" step="any" placeholder="Latitude" name="latitude" value="<%=lat%>" required>
                <label for="" class="hidden">Longitude:</label>
                <input type="number" id="longitude" step="any" placeholder="Longitude" name="longitude" value="<%=lon%>" required>
            </div>
            <label for="address" class="hidden">Search for an address</label>
            <!-- <label>Choose on map</label> -->
            <div class="geocodingForm">
                <input type="text" name="address" placeholder="Search for an address">
                <button type="button">Go</button>
            </div>
            <div class="resultsDiv"></div>
            <div class="hideAuthorDiv">
            <label for="hideAuthor">Hide author:</label>
            <input type="checkbox" name="hideAuthor" value="true">
            </div>
            <button>Signal</button>
            <!-- <div class="mapSearch">

            </div> -->
        </form>
    </div>