<%- include("partials/header", {title: "Submit" , css_file: "submit.css" , js_file: "submit.js" }) %>
    <div class="formDiv">
        <form id="submitForm" method="POST" action="/submit" enctype="multipart/form-data">
            <div class="detailsDiv">
                <h2>What happened:</h2>
                <div class="titleDiv">
                    <label for="name">Title</label>
                    <input name="name" type="text" placeholder="Title" required>
                </div>
                <div class="descriptionDiv">
                    <label for="description">Description (optional)</label>
                    <textarea rows="8" name="description" placeholder="Describe what was going on"></textarea>
                </div>
                <div class="pictureDiv">
                    <label for="picture">Upload a picure</label>
                    <input type="file" id="imageInput" name="picture" accept="image/png, image/jpeg" required>
                    <img src="#" id="imagePreview" alt="upload preview" hidden>
                </div>
            </div>
            <!-- get the coordinates -->
            <div class="coordinatesFormDiv">
                <h2>Where did it happen:</h2>
                <div class="geocodingDiv">
                    <p>Search for an address:</p>
                    <div class="geocodingForm">
                        <!-- if I decide not to submit the address as a backup for coordinates I can do so by removing the name attribute -->
                        <input type="text" name="address" placeholder='Search for an address'>
                        <button type="button">Search</buttoN>
                    </div>
                    <div class="geocodingResultsDiv"></div>
                </div>
                <div class="latitudeAndLongitudeDiv">
                    <p>Insert coordinates yourself:</p>
                    <input id="latitude" type="number" step="any" placeholder="latitude" name="latitude"
                        value="<%=lat%>">
                    <input id="longitude" type="number" step="any" placeholder="longitude" name="longitude"
                        value="<%=lon%>">
                </div>
                <div class="gpsDiv">
                    <p>Or use the current position from your device gps:</p>
                    <button type="button" id="gpsButton">Use GPS</button>
                    <div class="gpsResultsDiv"></div>
                </div>
            </div>
            <label for="saveAuthor">Hide author</label>
            <input type="checkbox" name="hideAuthor" id="hideAuthor" value="true">
            <button>Submit</button>
        </form>
    </div>

    </body>

    </html>