<%- include("partials/header", {title: "Map" , js_file: "map_output.js" , css_file: "temp.css" }) %>
    <div id="map" class="map"></div>
    <div id="popup"></div>
    <!-- <div id="search">
        <form>
            <input type="text" name="search">
            <button class="searchButton">Search</button>
        </form>
    </div> -->
    </body>

    </html>