<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="css/temp.css" rel="stylesheet">
    <script src='js/temp3.js' type="text/javascript" defer></script>
    <title>OpenLayers example</title>
</head>

<body>
    <div class="navbar">
        <h1>Pollution Tracker</h1>
        <ul class="navbar-links">
            <li><a href="/table">Table View</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </div>
    <div id="map" class="map"></div>
    <div id="popup"></div>
    <!-- <div id="search">
        <form>
            <input type="text" name="search">
            <button class="searchButton">Search</button>
        </form>
    </div> -->
</body>

</html>