<%- include("partials/header", {title: "Password Update" , css_file: "login.css" , js_file: "updatePassword.js" }) %>
    <div class="container">
        <form action="/updatePassword" method="POST">

            <div class="inputLine">
                <label for="password">Old password:</label>
                <input type="password" name="password" tabindex='1' required>
            </div>
            <div class="inputLine">
                <label for="newPassword">New password:</label>
                <input type="password" name="newPassword" tabindex='2' required>
            </div>
            <div class="inputLine"><button tabindex="=3">Update your password</button></div>
        </form>
        <form action="/deleteAccount" method="POST" id="deleteAccountForm">
            <button>Delete Account</button>
            <p>This will delete all your submissions and your account.</p>
            <p>The process is not reversible.</p>
        </form>
    </div>
    </body>

    </html>