@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
}
.navbar {
  flex: 0 0 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(43, 44, 49);
  color: white;
}
.navbar-links li {
  display: inline-block;
  margin-left: 1em;
}
.navbar-links a {
  color: white;
  text-decoration: none;
}