#pollutedAreasTable {
    flex-grow: 1;
    margin-block: max(5vh, 1em);
    margin-inline: auto;
}
#pollutedAreasTable table {
    border-spacing: 0px;
    margin-inline: 1em;
}
#pollutedAreasTable td, th {
    border: 1px solid rgba(0,0,0,0.2)
}
#pollutedAreasTable td {
    padding: 0.5em;
    /* text-align: center; */
}
#pollutedAreasTable .coordinates {
    text-align: right;
}
th {
    padding: 4px;
    user-select: none;
    cursor: pointer;
    background-color: rgb(43, 44, 49);
    color: white;
}
.asc::after {
    content: '\2191';
}
.des::after {
    content: '\2193';
}